body {
    background-color: #006400;
    color: white;
}

#game-table {
 text-align: center;
}

.card {
    margin: 0 5px;
}

.player-card {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 139px;
    width: 100px;
    flex-direction: row;
}

.banker-card {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 139px;
    width: 100px;
}

#player-card-row {
    display: flex;

}

#banker-card-row {
    display: flex;
    
}

#card-area {
    display: flex;
    justify-content:space-around;
}

input {
    width: 4%;
    text-align: center;
}


.player {
    color: red;
}

.banker {
    color: yellow;
}
.tie {
    color: white;
}

.third-card {
    transform: rotate(90deg);
    margin: 0 25px;
    
}

@media screen and (max-width: 800px) {
    .card {
        width: 75px;
        height: 104px;
        margin: 0 2px;
    }
    
    .third-card {
        margin: 0 18px;
    }
    
    h2 {
        font-size: medium;
    }
    input {
        width: 50px;
    }
}

@media screen and (max-width: 600px) {
    #card-area {
        flex-direction: column;
        justify-content: center;
    }
   
    #banker-card-row {
        justify-content: center;
    }
   
    #player-card-row {
        justify-content: center;
    }
   
    table {
        margin: 5px auto;
    }
}

@media screen and (max-width: 450px) {
    .card {
        width: 53px;
        height: 73px;
        margin: 0 2px;
    }

    .third-card {
        margin: 0 12px;
    }   
    
    h1 {
        font-size: large;
    }
    
    h2 {
        font-size: medium;
    }

    input {
        width: 50px;
    }
}
